*{margin:0;padding:0}
html, body{height: 100%;width: 100%;}
body{font-family: "Century Gothic";background-color: whitesmoke;text-align:center;}
.wrapper{max-height: 100%; width: 100%; padding: 5% 0;display: none;}
a {text-decoration: none;font-size: 4vw;display: inline-block;height: 0;vertical-align: middle;}
.iconWrap{display:inline-block;float: left;height: 100%; width: calc(100% / 3);}
.icon {width: 4vw;height: 4vw;margin: 1vw 0;}
h1 {margin: 2vw 0 2vw;font-weight: bold;font-size: 4vw;}
.icons{margin: 0 auto;width: 50%;height: 10vw;}
.profile{height: 12vw;width: 12vw;border-radius: 50%;margin-top: 2%;}

@media screen and (max-device-width: 480px) {
    .profile{height: 20vw;width: 20vw;border-radius: 50%;margin-top: 2%;}
    h1 {margin: 2vw 0 2vw;font-weight: bold;font-size: 10vw;}
    .icon {width: 8vw;height: 8vw;}
    .icons{margin: 0 auto;width: 80%;height: 12vw;}
    hr {margin-top: 2%}
}