@font-face{font-family:"Raleway-Light";src:url(Raleway-Light.ttf)}
*{margin:0;padding:0}
html, body{height: 100%;width: 100%;}
body{font-family: bebas-neue, source-sans-pro, "Helvetica", sans-serif;text-align:center;
  background-color: #001427;
  background-color: #003567;

  background-image: url("media/light-sketch.png");
}
.overlay{
  min-height: 16vw;
  margin: 0 auto 0;
  padding: auto auto;
  --border: 0.2vw solid black;
  width: 60%;
  height: 100%;
  position: relative;
}
.title{font-size: 4vw; color: #ffffff; font-family: "Raleway-Light"; text-shadow: 0 0 1px rgb(0, 0, 0), 0 1px 2px rgba(0,0,0,0.45);}

.socialmediaicons {
  width: 100%;
  height: auto;
  margin-top: 2vw;
  font-size: 3vw;
  text-shadow: 0 0 1px rgb(0, 0, 0), 0 1px 2px rgba(0,0,0,0.45);
}
.fa {
  padding: 0.4vw;
  text-align: center;
  text-decoration: none;
  border-radius: 5%;
  color: #ffffff;
  transition: 0.1s;
}
.fa:hover {
    opacity: 0.9;
    color: #0091d5;
}

.cv {
  font-size: 1.2vw;
  color: rgb(33, 167, 167);
  font-weight: 300;
}

.wrap {
  height: 60%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media screen and (max-device-width: 600px) {
  .overlay {
    width: 85%;
  }
  .cv {
    font-size: 4vw;
  }
  .title {
    font-size: 6vw;
  }
  
  .icons {
    font-size: 7vw;

  }
}
